<template>
  <div class="home">
      <div class="login-header" v-if="currentUser">
        <div style="flex: 1">کاربر {{currentUser.username}}</div>
        <button @click="logout">خروج</button>
      </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Home',
  data: () => ({
    currentUser: JSON.parse(localStorage.getItem('currentUser') || 'null')
  }),
  methods: {
    logout () {
      this.currentUser = null
      localStorage.removeItem('currentUser')
      this.$router.push('/login')
    }
  }
})
</script>

<style lang="scss" scoped>
  .login-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
</style>
