<template>
  <div class="login-page">
    <div class="container" :class="{'right-panel-active': rightPanelIsActive}">
      <div class="form-container sign-up-container">
        <form class="form" @submit.prevent="register">
          <h1 class="title">ساخت حساب کاربری</h1>
          <input class="input" type="text" v-model="username" name="username" placeholder="نام کاربری" />
          <input class="input" type="password" v-model="password" name="password" autocomplete="new-password" placeholder="رمز عبور" />
          <button class="button">ثبت نام</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form class="form" @submit.prevent="login">
          <h1 class="title">ورود</h1>
          <input class="input" v-model="username" placeholder="نام کاربری" name="username" v-autofocus />
          <input class="input" type="password" v-model="password" name="password" autocomplete="current-password" placeholder="رمز عبور" />
          <a class="link" href="#">رمز عبور را فراموش کرده‌اید؟</a>
          <button class="button">ورود</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1 class="title">خوش آمدید!</h1>
            <p class="description">برای ارتباط با ما لطفا با اطلاعات شخصی خود وارد شوید</p>
            <button class="button ghost" @click="goToLogin" :disabled="disableLoginBtn">ورود</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1 class="title">سلام دوست من!</h1>
            <p class="description">مشخصات شخصی خود را وارد کرده و با ما سفر کنید</p>
            <button class="button ghost" @click="goToRegister" :disabled="disableRegisterBtn">ثبت نام</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { post } from '@/utils/http'

export default defineComponent({
  name: 'login',
  data: () => ({
    username: '',
    password: '',
    rightPanelIsActive: false,
    disableLoginBtn: false,
    disableRegisterBtn: false,
  }),
  methods: {
    login() {
      if (this.username.length && this.password.length) {
        this.disableLoginBtn = true
        post('/login', {
          username: this.username,
          pass: this.password
        })
          .then(res => {
            alert(res.success ? 'لاگین شدی' : 'خطا: ' + res.error)
            if (res.success) {
              localStorage.setItem('currentUser', JSON.stringify({ username: this.username, password: this.password }))
              this.username = ''
              this.password = ''
              this.$router.push('/')
            }
          })
      } else {
        alert('فیلدها را تکمیل کنید!')
      }
    },
    register() {
      if (this.username.length && this.password.length) {
        this.disableRegisterBtn = true
        post('/register', {
          username: this.username,
          pass: this.password
        })
          .then(res => {
            alert(res.success ? 'ثبت نام با موفقیت انجام شد!' : 'خطا: ' + res.error)
            if (res.success) {
              this.username = ''
              this.password = ''
              this.disableRegisterBtn = false
            }
          })
      } else {
        alert('فیلدها را تکمیل کنید!')
      }
    },
    goToLogin() {
      this.rightPanelIsActive = false
    },
    goToRegister() {
      this.rightPanelIsActive = true
    }
  },
  created() {
    this.rightPanelIsActive = this.$route.path === '/register'
  }
})
</script>

<style scoped lang="scss">
/*.form {*/
/*  width: 90%;*/
/*  max-width: 450px;*/
/*  margin: auto;*/
/*}*/
.login-page {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.title {
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.link {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }

  &.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
}

.form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: auto;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  right: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(-100%);
}

.sign-up-container {
  right: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(-100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container{
  transform: translateX(100%);
}

.overlay {
  background: #FF416C;
  background: -webkit-linear-gradient(to left, #FF4B2B, #FF416C);
  background: linear-gradient(to left, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0;
  color: #FFFFFF;
  position: relative;
  right: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(-50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  left: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(-20%);
}
</style>
