<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/login">ورود</router-link> |
    <router-link to="/register">ثبت نام</router-link>
  </div>
  <router-view></router-view>
</template>
